.player {
    background-image: url('/assets/img/coolmusic.jpg');
    background-repeat: no-repeat;
    background-size:100% 100%!important;
    height:45em;
    overflow-x: hidden;
}

.player-item {
    background-color: aliceblue;
    background-size:100% 100%!important;
}