.pickteams-item {
    background-color: rgb(165, 171, 177);
    background-size:100% 100%!important;
}

#games {
    position: relative;
    top: 0px;
    bottom: 0;
    left: 0;
    width: 95%;
    max-height: 700px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#ghost{
    display: inline-block;
    height: 0;
    position: absolute;
}

.tickerContainer{
    overflow-x: hidden;
    overflow-y: hidden;
    /* overflow-y: scroll; */
    white-space: nowrap;
}

.myStyles{
    background: #eee;   
    color: blue;
    border: 1px solid #ddd;
    max-width: 700px;
    /* cursor: pointer; */
}

#buttonId {
    box-shadow: none;
}