.pickteams-item {
    background-color: rgb(165, 171, 177);
    background-size:100% 100%!important;
}

#ghost{
    display: inline-block;
    height: 0;
    position: absolute;
}

.tickerContainer{
    overflow-x: hidden;
    overflow-y: hidden;
    /* overflow-y: scroll; */
    white-space: nowrap;
}

.myStyles{
    background: #eee;   
    color: blue;
    border: 1px solid #ddd;
    max-width: 500px;
    /* cursor: pointer; */
}