<div class="container pickteams-item">
  <span style="text-align:center">
    <h5>This will help with picking of teams</h5>
    <ul style="text-align:left;">          
    </ul><br>
  </span><br>
  <div class="row">
    <div class="col-xs-12 offset-0 col-sm-12 col-md-12 offset-md-2">
      <div class="tickerContainer myStyles">
        <div appTicker [trigger]="'auto'" [text]="'Teams'" [speed]="50" [paddingRight]="60" [size]="20"></div>
      </div>    
      <div id="ghost"></div>
      <br>
    </div>
  </div>
</div>
  
