<div class="container pickteams-item">

  <div class="row">
    <div class="col-xs-12 offset-0 col-sm-12 col-md-12 offset-md-2">
        <br>
      <div class="tickerContainer myStyles">
        <div appTicker [trigger]="'auto'" [text]="'Teams'" [speed]="50" [paddingRight]="60" [size]="20"></div>
      </div>
      <div id="ghost"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <!-- Week number -->
      <form class="ui form" [formGroup]="weekForm" novalidate (ngSubmit)="onSubmit()">
        <div class="form-group" style="text-align:center;">
          <label><h3>Footballish Week {{ week }} Sample try picking some teams</h3></label>
        </div>
        <!-- week games -->
        <div class="row">
          <div class="col-sm-1" style="text-align:center;">
            <label><h4>GM</h4></label>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div style="text-align:center;">
              <label><h4>Away</h4></label>
            </div>
          </div>
          <div class="col-sm-2" style="text-align:center;">
              <label><h4>VS</h4></label>
          </div>  
          <div class="col-xs-12 col-sm-4">
            <div style="text-align:center;">
              <label><h4>Home</h4></label>
            </div>
          </div>  
        </div>

        <div id="games">

          <div class="row">
            <div class="col-sm-12">
              <div formArrayName="gameMethod">
                <div class="row"
                  *ngFor="let gm of weekForm['controls'].gameMethod['controls']; let i=index"
                formGroupName="{{i}}">
                  <div class="col-sm-1">
                      <button type="button" class="btn btn-block">{{ i + 1}}</button>
                  </div>
                  <br>
                  <div class="col-sm-5" style="text-align:center;">
                    <button type="button" (click)="setGameMethodType(i, GAME_WEEK_TYPE.AWAY)"
                    class="btn btn-block text-capitalize"
                    [class.btn-default]="gm['controls'].type.value !== GAME_WEEK_TYPE.AWAY"
                    [class.btn-primary]="gm['controls'].type.value === GAME_WEEK_TYPE.AWAY"
                    name="gm['controls'].away['controls'].teamName.value"
                    id="gm['controls'].away['controls'].teamNo.value">
                    {{ gm['controls'].away['controls'].teamName.value }}
                  </button>                  
                  <br>
                  </div>
                  <div class="col-sm-1">
                      <button type="button" class="btn btn-block">@</button>
                  </div>
                  <br>
                  <div class="col-sm-5">
                      <button type="button" (click)="setGameMethodType(i, GAME_WEEK_TYPE.HOME)"
                      class="btn btn-block text-capitalize"
                      [class.btn-default]="gm['controls'].type.value !== GAME_WEEK_TYPE.HOME"
                      [class.btn-success]="gm['controls'].type.value === GAME_WEEK_TYPE.HOME"
                      name="gm['controls'].home['controls'].teamName.value"
                      id="gm['controls'].home['controls'].teamNo.value">
                      {{ gm['controls'].home['controls'].teamName.value }}
                  </button>
                  </div>
                  <br>
                <span *ngIf="!gm['controls'].type.touched && !gm['controls'].type.value !=='' ">
                </span>
                </div>                
              
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-xs-12 col-sm-12" style="text-align:center">
              <br>
              <span
                *ngIf="!weekForm['controls'].gameMethod['controls'].valid && weekForm.touched"
                class="help-block">Please make all selections
              </span>
              <button type="submit"
                [disabled]="!weekForm.valid"
                style="cursor:pointer;"
                class="btn btn-success">Submit Games
              </button>
              <br>
            </div>
            <br>
         </div>
        </div>

      </form><br><br>
      
    </div>
  </div>
</div>

