<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="container-fluid">
        <a routerLink="/" class="navbar-brand nav-link">AG5 Ted</a>
<div class="row">
        <div class="d-block d-sm-none">
                        <ul class="nav navbar-nav mr-auto navbar-dark">
                            <li routerLinkActive="active"><a routerLink="/home" class="nav-link">Home</a></li>
                            <li routerLinkActive="active"><a routerLink="/about" class="nav-link">About</a></li>
                            <li routerLinkActive="active"><a  routerLink="/contact" class="nav-link">Contact</a></li>
                            <li routerLinkActive="active"><a routerLink="/player" class="nav-link">Player</a></li>
                            <li routerLinkActive="active"><a routerLink="/footballish" class="nav-link">Footballish</a></li>
                            <li routerLinkActive="active"><a routerLink="/whatif" class="nav-link">WhatIf</a></li>
                            <li><a class="nav-link disabled">Somthingelse</a></li>
                        </ul>
                        
                        <ul class="nav navbar-nav">                
                            <li class="nav-item">
                                <div ngbDropdown class="d-inline-block">  
                                    <a class="btn btn-outline-primary dropdown-toggle"
                                        id="dropdown01"
                                        ngbDropdownToggle                            
                                        style="cursor:pointer;color:white">
                                        Manage
                                    </a>
                                    <ul ngbDropdownMenu aria-labelledby="dropdown01">
                                        <li><a style="cursor:pointer">&nbsp;Save Data</a></li>
                                        <li><a style="cursor:pointer">&nbsp;Fetch Data</a></li>
                                    </ul>
                                </div>
                            </li>                
                        </ul>            
                        <ul class="navbar-nav">
                                <li class="nav-item">
                                  <a class="nav-link disabled" style="cursor:pointer;" href="#">Login</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link disabled" style="cursor:pointer;" href="#">Register</a>
                                </li>
                        </ul>
        </div>
                
</div>        
        <div class="collapse navbar-collapse navbar-left">
            <ul class="nav navbar-nav mr-auto navbar-dark">
                <li routerLinkActive="active"><a routerLink="/home" class="nav-link">Home</a></li>
                <li routerLinkActive="active"><a routerLink="/about" class="nav-link">About</a></li>
                <li routerLinkActive="active"><a  routerLink="/contact" class="nav-link">Contact</a></li>
                <li routerLinkActive="active"><a routerLink="/player" class="nav-link">Player</a></li>
                <li routerLinkActive="active"><a routerLink="/footballish" class="nav-link">Footballish</a></li>
                <li routerLinkActive="active"><a routerLink="/whatif" class="nav-link">WhatIf</a></li>
                <li><a class="nav-link disabled">Somthingelse</a></li>
            </ul>
            
            <ul class="nav navbar-nav">                
                <li class="nav-item">
                    <div ngbDropdown class="d-inline-block">  
                        <a class="btn btn-outline-primary dropdown-toggle"
                            id="dropdown01"
                            ngbDropdownToggle                            
                            style="cursor:pointer;color:white">
                            Manage
                        </a>
                        <ul ngbDropdownMenu aria-labelledby="dropdown01">
                            <li><a style="cursor:pointer">&nbsp;Save Data</a></li>
                            <li><a style="cursor:pointer">&nbsp;Fetch Data</a></li>
                        </ul>
                    </div>
                </li>                
            </ul>            
            <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link disabled" style="cursor:pointer;" href="#">Login</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" style="cursor:pointer;" href="#">Register</a>
                    </li>
            </ul>
        </div>
    </div>
</nav>