<div class="row fibonacci_color">
  <div class="col-xs-12 col-sm-4 fibonacci_item">
  </div>
  <div class="col-xs-12 col-sm-4">
    <h2 style="color:whitesmoke">Fibonacci generator</h2>
    <h3>This is where you would imput a number........</h3>
  </div>
  <div class="col-xs-12 col-sm-4">
      <form [formGroup]="fiboForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-xs-12 col-sm-5">
            <div class="form-group">
              <label for="fiboNum" >Enter number</label>
              <input
                type="text"
                id="fibNum"
                formControlName="fiboNum"
                class="form-control"
                min="1"
                max="40"
                required
                value=10
                pattern="^[1-9]+[1-9]*$"
                maxlength="3"
                style="width:70px; color:black; ">
            </div>
          </div>
          <div class="col-xs-12 col-sm-7">
              <label>Sequence of numbers </label>
            <button class="btn btn-success" type="submit">Generate</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-5">
            <div>
              <input
               type="radio"
               id="sequence"
               formControlName="method"
               name="method"
               value="sequence" checked>
              <label for="sequence">&nbsp;Sequence</label>
            </div>
            <div>
              <input
               type="radio"
               id="recursive"
               formControlName="method"
               name="method"
               value="recursive">
              <label for="recursive">&nbsp;Recursive</label>
            </div>
            <div>
              <input type="radio" id="clear" formControlName="method" name="method" value="clear">
              <label for="clear">&nbsp;Clear</label>
            </div>
          </div>
        </div>
      </form>
      <div class="row" *ngIf="submitted">
        <h3>Fibonacci results</h3>
        <div id="fibonac">
          <h4>{{fibobacciResults}}</h4>
        </div>
      </div>
      <br><br>
  </div>
  <div class="col-xs-12 col-sm-4"></div>
</div>
