.dropdown .dropdown-menu .dropdown-item .a:hover {
    color: rgb(255, 255, 255);
    background-color: #b91773;
    border-color: rgb(255, 255, 255)
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
}