<div class="articles">
  <div background="background-image: url('/assets/img/sticky.jpg'">
    <div class="container">
      <br>
      <h1> About.</h1><br>
    </div>
  </div>
  <div class="container about-item">
  <h3>Ted Robinson's Angular 5 Project Test</h3>
  <div class="row">
    <ol>
      <h5><li>This site includes a Player with selectable  list of Songs</li></h5>
      <h5><li>Manage section for fetching and saving items (not available)</li></h5>
      <h5><li>Login, and Register. (not available)</li></h5>
      <h5><li>Fooballish, is a simulated football season
        <ul>
          <li>Manage Play - Schedule (calendar, will allow picking season start date)</li>
            <ol>
              <li>Schedule - Will allow  you to pick the start of your 17 week season</li>
              <li>Start day - This is 6 days in advance of the first possible game</li>
              <li>End Entry - Last day of the week teams will be allowed to be changed</li>
              <li>Results day - This is the day the results for the prior week will be available</li>
              <li>Week 2... -  Shows when the next start picking day will be start.</li>
            </ol>
          <li>Pick Teams - Will allow the picking of teams (not available)</li>
        </ul>
      </li></h5>
      <h5><li>WhatIf. - in eval stage (not available)</li></h5>

    </ol>
  </div>
</div><br>
