<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-2 something-item" style="text-align:center">
      <h2>A list of links</h2>
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h3>
            <nav class="nav-pills flex-column" routerLinkActive="active">
              <a routerLink="fibnocci"
                routerLinkActive="active"
                class="nav-link"
                style="text-align:left; color:brown;"
                routerLinkActiveOptions="{exact: true}">Fibonacci Codes
              </a>
              <a routerLink="palindrome"
              routerLinkActive="active"
              class="nav-link"
              style="text-align:left; color:brown;"
              routerLinkActiveOptions="{exact: true}">Palindrome Number
            </a>
            </nav>
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 something" >
      <router-outlet></router-outlet>
    </div>
    <div class="col-xs-12 col-sm-2 something-item" style="text-align:center">
      <h2>Even more links</h2>
      <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h3>
              <nav class="nav-pills flex-column" routerLinkActive="active">
                <a routerLink="simpleinterest"
                  routerLinkActive="active"
                  class="nav-link"
                  style="text-align:left; color:brown;"
                  routerLinkActiveOptions="{exact: true}">Loan Calculator
                </a>
              </nav>
              </h3>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <h3>
              <nav class="nav-pills flex-column" routerLinkActive="active">
                <a routerLink="gamespart"
                  routerLinkActive="active"
                  class="nav-link"
                  style="text-align:left; color:brown;"
                  routerLinkActiveOptions="{exact: true}">Tic Tac Toe
                </a>
              </nav>
              </h3>
            </div>
          </div>
        </div>
    </div>
  </div><br><br>
</div>