<div class="row">
  <div class="col-xs-12 col-sm-1" style="text-align:left">
     <h5>Week&nbsp;</h5>
  </div>
  <div class="col-xs-12 col-sm-3" style="text-align:left">
      <h5>&nbsp;&nbsp;Start-Date</h5>
  </div>
  <div class="col-xs-12 col-sm-4" style="text-align:left">
      <h5>End-Entry-Date</h5>
  </div> 
  <div class="col-xs-12 col-sm-4" style="text-align:left">
      <h5>Results-Day</h5>
  </div>   
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 pull-left"><hr>
      <div id="left">
        <app-showschedule-item id="left"
          *ngFor="let schedule of footballschs let i = index"
          [footballSchedule]="schedule"
          [index]="i">
        </app-showschedule-item>
      </div><br>
    </div>
  </div>