.container2 {
    height: 100%;
    /* background-image: url('/assets/img/development-paradox.jpg'); */
    background-image: url('/assets/img/bluevintage.jpg');
    background-repeat: no-repeat;
    background-size:100% 100%!important;
    height: 60em;
    overflow: inherit;
    }