<div class="container schedule-item">
  <span style="text-align:center">
    <span><h5>So if you selected a schedule with start date prior to {{date}} (select Feb 5th)</h5>
    <h5>Assumption is that a season will allways have a Monday as a start-date, Thursdays games are not included!</h5></span><br>
    <ul style="text-align:left;">          
      <li><h5>Week with an End-Entry-Date before {{ date }} will not be displayed.</h5></li>
      <li><h5>The prior week has an End-Entry-Date before {{ enddate }} will not be displayed</h5></li>
      <li><h5>The further into the season the more weeks with not be selectable to pick teams for those week</h5></li>
      <li><h5>When you Select Season Start Date(green button), a schedule of avaiable weeks will be shown</h5></li>
      <li><h5>Select a week, which will show the important dates for that week</h5></li>
    </ul><br>
  </span>
</div>

