<div class="container schedule-item">
  <span style="text-align:center">
        <h5>So if you selected a schedule with start date prior to {{date}} (select Feb 5th)</h5>
        <h5>Assumption is that a season will allways have a Monday as a start-date, Thursdays games are not included</h5>
        <ul style="text-align:left;">          
          <li>Week with an End-Entry-Date before {{ date }} will not be displayed </li>
          <li>The prior week has an End-Entry-Date before {{ enddate }} will not be displayed </li>
          <li>The further into the season the more weeks with not be selectable to pick teams for those week</li>
        </ul><br>

      
  </span>
</div>

