<div class="pull-left" style="text-align:left">
  <div class="row">
      <div class="col-sm-4">
          <h5 class="list-group-itemheading">
              &nbsp; {{footballSchedule.week}}
              &nbsp;{{footballSchedule.startdate}}
          </h5>    
      </div>        
      <div class="col-sm-4">
          <h5 class="list-group-itemheading">
              {{footballSchedule.endentrydate}}
          </h5>    
      </div>        
      <div class="col-sm-4">
          <h5 class="list-group-itemheading">
              {{footballSchedule.resultsday}}
          </h5>    
      </div>
  </div>
</div>