@import url(//fonts.googleapis.com/css?family=Dosis|Gochi+Hand:400italic,700italic,400,700);

.gamespart-app {
  margin: 0 auto;
  max-width: 300px;
  color: #34495e;
}

.container2 {
    background-color: #fff;
    color: #fff;
    font-family: 'Dosis', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    margin: 0px;
}
h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3em;
}