<!-- <div class="container-fluid home">
  <div class="container home-item" text-align:center>
    <h2 style="color:aliceblue">Hello World!</h2>
    <h4 style="text-indent: 2em; color:ghostwhite;">  Are you ready! </h4>
  </div>        
</div> -->

<div class="jumbotron jumbotron-billboard">
  <div class="img"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">        
          <h1>.Net, Angularjs, Angular(2-5+)</h1>
          <h2><p class="lead">Implements the MVC pattern to separate presentation, data, 
              and logic components. Using dependency injection, 
              Angular brings traditionally server-side services,<br>
              such as view-dependent controllers, to client-side web applications.
              Consequently, much of the burden on the server can be reduced.</p></h2>
          <!-- <ul>
            <li><h4>Angular does not have a concept of "scope" or controllers,
            instead it uses a hierarchy of components as its main architectural concept</h4></li>
            <li><h4>Angular has a different expression syntax, 
              focusing on "[ ]" for property binding, and "( )" for event binding</h4></li>
            <li><h4>Modularity – much core functionality has moved to modules</h4></li>
            <li><h4>Angular recommends the use of Microsoft's TypeScript language</h4></li>
          </ul> -->
          <p><a href="https://angular.io/" class="btn btn-primary btn-lg" target="blank">Learn more &raquo;</a></p>
      </div>        
    </div>
  </div>
</div>
<div class="row clearfix" style="padding-top:0%">
  <div class="col-md-4">
    <img src="/assets/img/photo-Cliff.jpg" alt="" style="max-width:100%;">
    <h2>Help Getting Started</h2>
    <p>
        Full Stack developer, using Bitbucket Git Management to manage my repositories of new development,
        and share with team members as they become part of my team of developers.
        Using Heroku/AppHarbor Cloud platform as a cloud service to fully host some of my Angular/Node.js/.Net
        Applications that I'm testing using some interesting technologies.
        <br><span><h1>Ted Robinson</h1></span>
    </p><br>
  </div>
  <div class="col-md-4">
    <img src="/assets/img/photo-SnowNWater.jpg" alt="" style="max-width:100%;">
    <h2>Bitbucket</h2>
    <p>
        Bitbucket is a web-based hosting service for projects that use either the Mercurial (since launch)
        or Git (since October 2011) revision control systems. Bitbucket offers both commercial plans
        and free accounts. It offers free accounts with an unlimited number of private repositories
        (which can have up to five users in the case of free accounts) as of September 2010,
        but by inviting three users to join Bitbucket, three more users can be added,
        for eight users in total. Bitbucket is written in Python using the Django web framework
        
    </p>
    <span><p><a class="btn btn-primary" href="https://bitbucket.org/product" target="_blank">Learn more &raquo;</a></p></span>
  </div>
  <div class="col-md-4">
      <img src="/assets/img/photo-winterhome.jpg" alt="" style="max-width:100%;">
      <h2>Web Hosting</h2>
      <p>
          You push Angular/.NET and Windows code to Heroku/AppHarbor using Git, Mercurial, Subversion or Team Foundation Server
            with the complimentary Git service or through integrations offered in collaboration with Heroku/Bitbucket,
            CodePlex and GitHub.       
      </p>
      <span><a class="btn btn-primary" href="https://appharbor.com/" target="_blank">Learn more(Appharbor) &raquo;</a></span>
      <span><a class="btn btn-primary" href="https://www.heroku.com/home" target="_blank">Learn more(Heroku) &raquo;</a></span><br><br><br>
    </div>
</div>
