<div class="row palindrome_color">
  <div class="col-xs-12 col-sm-4 palindrome_item">

  </div>
  <div class="col-xs-12 col-sm-8">
    <form [formGroup]="palindromeForm" (ngSubmit)="generateResults()">
      <div class="row">
        <div class="col-xs-12 col-sm-12" style="text-align:center;">          
          <h2><label for="num">>>>> To Find if a number is a Palindrome or not <<<<</label></h2>
          <div class="row">
            <div class="col-xs-12 col-sm-4"></div>
            <div class="col-xs-12 col-sm-4"><h3>Number to Check</h3>
              <span>
                <input 
                    type="number"
                    formControlName="inputnum"
                    class="form-control"
                    style="text-align: right;font-weight:bold;"
                    value="{{palindromeForm['controls'].inputnum.value}}"
                    (change)="generateResults();">
              </span>
            </div>            
            <div class="col-xs-12 col-sm-4"></div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-4"></div>
            <div class="col-xs-12 col-sm-4"><br>
              <span>
                <button 
                    class="btn btn-success"
                    type="submit">
                  Generate Palindrome
                </button>
              </span>
            </div>            
            <div class="col-xs-12 col-sm-4"></div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-4"></div>
            <div class="col-xs-12 col-sm-4"><br>
              <span>
                <h3>{{palindromeForm['controls'].palindrom.value}}</h3>
              </span>
            </div>            
            <div class="col-xs-12 col-sm-4"></div>
          </div>
        </div>
        
      </div>
    </form>
  </div>

</div>
