<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-2 whatif-item" style="text-align:center; background-color:gray">
      A list of links on this panel
      <div class="container">
        <div class="row col-xs-12 col-sm-12" col-sm-2 offset-8>
          <nav class="nav-pills flex-column"  routerLinkActive="active" routerLinkActiveOptions="{exact: true}">
            <div class="xs-offset-2 sm-offset-8">
                <a routerLink="manageteams"
                routerLinkActive="active"
                class="nav-link"
                style="text-align:left; color:antiquewhite;"
                routerLinkActiveOptions="{exact: true}">Manage Teams
              </a>
              <a routerLink="schedule"
                routerLinkActive="active"
                class="nav-link"
                style="text-align:left; color:antiquewhite;"
                routerLinkActiveOptions="{exact: true}">Schedule
              </a>
              <a routerLink="pickteams"
                routerLinkActive="active"
                class="nav-link"
                style="text-align:left; color:antiquewhite;"
                routerLinkActiveOptions="{exact: true}">Pick Teams
              </a>
              <!-- <a routerLink="somethingelse" -->
              <a routerLinkActive="active"
                class="nav-link disabled" style="text-align:left;">Disabled</a>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-10 whatif">
      <router-outlet class="whatif-item"></router-outlet>
    </div>
  </div>
</div>

